{% block top_before_title %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>
{% endblock top_before_title %}
{% block title %}
{% endblock title %}
{% block top_after_title %}
</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{{ url_for("static", filename="css/templatemo_style.css") }}" rel="stylesheet" type="text/css" />

</head>
<body>

<div id="templatemo_wrapper_outer">

	<div id="templatemo_wrapper">

    	<div id="templatemo_header">
            <div id="site_title">
                <h1><a href="#">MyBlog<span>个人博客</span></a></h1>
            </div> <!-- end of site_title -->

            <div id="templatemo_menu">
                <ul>
                    <li><a href="index.html" class="current">主页</a></li>
{#                    <li><a href="about.html">个人信息</a></li>#}
                    <li><a href="gallery.html">Gallery</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </div> <!-- end of templatemo_menu -->

		</div>
{% endblock top_after_title %}
{% block body %}
{% endblock body %}
{% block bottom %}
<div id="templatemo_footer">

        <div class="footer_col_w200">
            <h3>Our Pages</h3>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="blog_post.html">Blog Post</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </div>

        <div class="footer_col_w200">
            <h3>Friends</h3>
            <ul>
                <li><a href="#">Free CSS Templates</a></li>
                <li><a href="#">Websites Gallery</a></li>
                <li><a href="#">Premium Templates</a></li>
                <li><a href="#">Website Layouts</a></li>
                <li><a href="#">Flash Templates</a></li>
            </ul>
        </div>

        <div class="footer_col_w400">

            <h3>About Us</h3>

            <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue urna, vehicula sed cursus a, faucibus vel sem. Aliquam lacus turpis, dapibus eget, tincidunt eu, lobortis et, magna. Integer pellentesque dignissim.</p>

            <p>Copyright © 2048 <a href="#">Your Company Name</a></p>
            <!-- Credit: www.templatemo.com -->
        </div>

        <div class="cleaner"></div>
    </div>

</div>
<!-- templatemo 295 floral beige -->
<!--
Floral Beige Template
http://www.templatemo.com/preview/templatemo_295_floral_beige
-->
</body>
</html>
{% endblock bottom %}