{% extends 'api_v1/base.html' %}
{% block title %}
首页
{% endblock %}
{% block body %}
<div id="templatemo_main_wrapper">
            <div id="templatemo_main">

                <div id="content">
                    	{% for data in data_list %}
                            <div class="post">
                            <div class="post_meta">
                                <p>笔者<span><a href="#">{{ data.author }}</a></span></p>
                                <p>更新日期<span>{{ data.date }}</span></p>
                                <p>发表于<span><a href="#">SCI核心期刊</a></span></p>
                            </div>

                            <div class="post_content">
                                <h2><a href="blog_post.html">{{ data.title }}</a></h2>
                                <a href="#"><img src="{{ url_for('static', filename='images/templatemo_image_01.jpg') }}" alt="image" /></a>
                              <p><em>简介暂空</em></p>
                    <p align="justify">{{ data.content }}</p>
                                <div class="btn_more"><a href="blog_post.html">查看更多</a></div>
                          </div>

                            <div class="cleaner"></div>
                        </div> <!-- end of a post -->
                    	{% endfor %}


                    <div class="cleaner"></div>
                </div> <!-- end of content -->

                <div id="sidebar">

                	<div class="rss">
                    	<a href="#">Subscribe our Feed</a>
                    </div>

                	<div class="sidebar_box">

                    	<h3>Categories</h3>

                        <ul class="tmo_list">
                        	<li>Validate <a href="http://validator.w3.org/check?uri=referer" rel="nofollow"><strong>XHTML</strong></a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow"><strong>CSS</strong></a></li>
                            <li><a href="#">Quisque blandit eros et lorem</a></li>
                            <li><a href="#">Praesent sollicitudin mollis</a></li>
                            <li><a href="#">Etiam sodales massa</a></li>
                            <li><a href="#">Vivamus tincidunt vehicula</a></li>
                            <li><a href="#">Maecenas sodales pede eu</a></li>
                            <li><a href="#">Quisque at nulla eu elit</a></li>
                        </ul>
                    </div>

                    <div class="sidebar_box">

                    	<h3>Recent Comments</h3>

                        <ul class="recent_comment">

                        	<li><a href="#" class="author">Steve</a> on <a href="#" class="post_title">Nulla convallis lectus</a></li>

                            <li><a href="#" class="author">John</a> on <a href="#" class="post_title">Aenean quis nisi vel est ultrices commodo</a></li>

                            <li><a href="#" class="author">David</a> on <a href="#" class="post_title">Mauris mollis pharetra orci eget lobortis</a></li>

                            <li><a href="#" class="author">Cindy</a> on <a href="#" class="post_title">Pellentesque vehicula odio sed dui ullamcorper </a></li>

                            <li><a href="#" class="author">Mike</a> on <a href="#" class="post_title">Suspendisse sit amet nisi id enim euismod</a></li>

                        </ul>

                    </div>

                    <div class="ads"><a href="#"><img src="{{ url_for('static',filename='images/templatemo.jpg') }}" alt="templatemo" /></a></div>

                    <div class="ads"><a href="#"><img src="{{ url_for('static',filename='images/flashmo.jpg') }}" alt="flashmo" /></a></div>

                </div> <!-- end of sidebar -->

                <div class="cleaner"></div>
            </div>
        </div> <!-- end of main wrapper -->
    </div> <!-- end of wrapper -->
{% endblock body %}
    
    

    
